{% extends 'main/layout.html' %}

{% block title %} CONTACTS {% endblock %}

{% block content %}
    <div class="Cont">

        <h2>Если у вас есть вопросы, предложения или вы заинтересованы в сотрудничестве, вы можете связаться с нами любым удобным способом. Мы всегда открыты для новых проектов, партнёрства и делового общения.
            Геологическая компания «Памир-Юг» готова предоставить дополнительную информацию о нашей деятельности, услугах и возможностях сотрудничества.</h2>
    <ul>
        <li><i class="fa-brands fa-instagram"></i>https://www.instagram.com/sba65?igsh=MWl6ZWhoaWZsdTNqNQ==</li>
        <li><i class="fa-brands fa-facebook"></i>https://www.facebook.com/share/14ZB3f5Ft5P/</li>
        <li><i class="fa-brands fa-whatsapp"></i>+996550566778</li>
    </ul>

    </div>
{% endblock %}