{% extends 'main/layout.html' %}
{% load static %}

{% block title %} PAMIR SOUCH {% endblock %}

{% block content %}
  <div class="features">
      <img class="main-image" src="{% static 'main/img/pamir_south_logo.jpeg' %}" alt="logo">
      <h1>ГЕОЛОГИЧЕСКАЯ КОМПАНИЯ PAMIR SOUTH</h1>
      <p>«Памир-Юг» — геологическая компания, основанная в 2012 году. Мы занимаемся геологоразведкой, исследованием месторождений и добычей полезных ископаемых. </p>
  </div>


   <div class="soso">
       <h1>За годы работы компания установила сотрудничество с партнёрами из разных стран,
           включая Китай, Афганистан, Канаду, Россию и Казахстан.
           Наша команда специалистов обладает большим опытом проведения полевых работ и геологических исследований.</h1>

       <img class="worker" src="{% static 'main/img/workers2.jpg' %}" alt="Work">

   </div>

<div class="zuzu">
    <h1>На сайте вы можете узнать больше о деятельности компании,
        ознакомиться с нашими проектами и увидеть фотографии рабочих процессов.</h1>

</div>

{% endblock %}